html, body {
  font-family: "M PLUS Rounded 1c"; 
  font-size: 20px;
}

body {
  background: linear-gradient(0deg, #F7F0FC, #FCFEF7),
}

.sc-editor {
  height:400px;
}

.sc-comment {
  height:200px;
}



header, footer {
  height:40px;
  display: flex;
  background:#00A3C7;
  color:white;
  line-height: 40px;
  justify-content: space-between;
  padding:0 0.5em;
  a {
    color:white;
    text-decoration: none;
  }
}

header {
  margin-bottom:2em;
}

.button {
  text-align: center;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  background: #00BCD4;/*背景色*/
  color: #eee;/*=背景色*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2);
  border-bottom: solid 2px #118e9e;
  border-radius: 4px;
  font-weight: bold;
  text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
  outline: none;
  line-height: 1.5em;
  cursor:pointer;
  box-sizing: border-box;
  
  button:active {
    border-bottom: solid 2px #00BCD4;
    box-shadow: none;
    text-shadow: -1px -1px rgba(255, 255, 255, 0.3), 1px 1px rgba(0, 0, 0, 0.3);
  }
}

#stepcode__file {
  display: none;
}
.section {
  min-height: 100vh;


  &:nth-child(2){
    padding:1vw;
  }
}
.stepcode {
  max-width: 1000px;
  margin:0 auto;
  
  &__container {
    margin-bottom: 1em;
  }

  &__controller {
    display: flex;
    justify-content: space-between;

    & .button {
      width:49%;
    }
  }
}

.contents {
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__box {
    width:48%;
    margin-bottom: 2em;

    @media (max-width: 600px) { 
      width:100%;
    }
    
    border:1px solid #ddd;
    background:#fefefe;
    h2 {
      background:#00A3C7;
      color:white;
      padding: 0.5em;
      font-weight: bold;
      font-size: 20px;
    }

    ul {
      padding:1em;
      font-size: 14px;
      line-height: 1.5em;
      
      a {
        cursor: pointer;
        color:#333;
        &:hover {
          color:#00BCD4;
        }
      }
    }
  }
}

@media (max-width: 600px) { 

  .sc-root {
    height: 80vh;
    font-size: 12px;
  }
  .sc-footer__logo {
    display: none;
  }

  .sc-editor{
    height: 60%;
    font-size: 12px;
  }

  .sc-comment{
    height: 40%;
  }
}
