@import "./base";
@import "./layout.scss";

/* 色の定義 */
$mainColor: #00a3c7;
$textColor: white;
$borderColor: #888;
$markColor: #81d674;

.#{$prefix} {

  &root {
    background: #fefefe;
    border: 1px solid $borderColor;
    border-radius: 6px;
  }

  &header {
    background: $mainColor;
    color: $textColor;
    border-bottom: 1px solid $borderColor;

    &__filename {
      font-size:0.7em;
      background: #000;
      color: white;
      opacity: 0.5;
      border-radius: 5px;
    }
  }

  &editor {
    &__lines {
      &__item {
        &--marking {
          background-color: $markColor;
        }
      }
    }
  }

  &comment{
    border-top: 1px solid $borderColor;
  }

  &footer { 
    background: $mainColor;
    .#{$prefix}buttons {
      &__item {
        color: #eee;
        &:hover {
          color: white;
        }
  
        &--disable {
          color: #aaa;
  
          &:hover {
            color: #aaa;
          }
        }
      }
    }
  
    .#{$prefix}pager {
      color: $textColor;
    }

    .#{$prefix}progress {
      background-color: #3e6a7c;
      &__item {
        background-color: #3e6a7c;
        &--active {
          background-color: #cae7f2;
        }
      }
    }
    &__logo {
      color: $textColor;
    }
  }

  &markdown {
    width:100%;
    h2 {
      font-size: 1.2em;
      line-height: 1.5em;
      border-bottom: 1px solid #dfdfdf;
      font-weight: bold;
      margin-bottom: 0.3em;
    }

    h3, h4, h5, h6 {
      font-size: 1em;
      line-height: 1.3em;
      font-weight: bold;
      margin-bottom: 0.3em;
    }
    p {
      padding: 0;
      margin: 0;
      line-height: 1.5em;
      margin-bottom: 1em;
    }

    a {
      text-decoration: none;
      color: #c7243a;
      &:hover {
        color: #6d1420;
      }
    }
    ol {
      list-style: decimal;
      margin-left: 1em;
      margin-bottom: 1em;
    }

    ul {
      list-style-type: disc;
      margin-left: 1em;
      margin-bottom: 1em;
    }

    strong {
      color: #c7243a;
      font-weight: bold;
    }

    em {
      font-weight: bold;
      font-style: normal;
      color: #485fa4;
    }

    pre {
      font-size: 14px;
      line-height: 1.5em;
      padding: 0.3em;
      color: #444;
      background: #eee;

      code {
        color: #444;
      }
    }

    code {
      background-color: #eee;
      color: #007ab7;
      padding: 0 0.3em;
      border-radius: 5px;
    }

    blockquote {
      background-color: #eee;
      padding: 0.3em 0.7em;
      border-left: 4px solid #999;
      font-size: 16px;
      line-height: 1.4em;

      p {
        margin-bottom: 0.5em;
      }
    }

    dl {
      dt {
        font-weight: bold;
      }
      dd {
        font-size: 18px;
        text-indent: 0.5em;
        line-height: 1em;
      }
    }

    table {
      tr {
        td,
        th {
          border: 1px solid #dddddd;
          font-size: 16px;
          line-height: 1.5em;
          padding: 0.1em 0.2em;
        }
        th {
          font-weight: bold;
          background: #eee;
        }
      }
    }
  }
}
