/* 色の定義 */
$mainColor: #00A3C7;
$textColor: white;
$borderColor: #718288;
$markColor:#81D674;

.sc {
  &-root {
    border:1px solid $borderColor;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-header {
    background-color:$mainColor;
    color:$textColor;
    padding:0.4em;
    border-bottom:1px solid $borderColor;
  }

  &-editor {
    display: flex;
    font-size: 16px;
    line-height: 1.5em;
    overflow-y:scroll;
    overflow-x:hidden;

    &__lines {
      list-style-type: none;
      text-indent: 0.2em;
      font-size: 12px;
      min-width:30px;
      padding:0;
      margin:0;
      border-right: 1px solid $borderColor;
      &__item {
        padding:0;
        margin:0;

        &--marking {
          background-color:$markColor;
        }
      }
    }

    &__codes {
      width:100%;
      height:100%;
      
      pre {
        padding:0;
        margin:0;
      }
      code {
        margin:0;
        padding:0;
        padding-left: 0.3em;
      }

    }
  }

  &-comment {
    border-top:1px solid $borderColor;
    border-bottom:1px solid $borderColor;
    padding:0.5em;
    overflow-y:auto;
    box-sizing: border-box;
    line-height: 1.6em;
    p{
      padding:0;
      margin:0;
      margin-bottom: 1em;
    }

    strong {
      color:#C7243A;
      font-weight: bold;
    }

    em {
      font-weight: bold;
      font-style: normal;
      color:#485FA4;
    }

    code {
      background-color: #eee;
      color:#007AB7;
      padding:0 0.3em;
      border-radius: 5px;
    }

    blockquote {
      background-color: #eee;
      padding: 0.3em 0 0.3em 0.7em;
      border-left: 4px solid #999;
      font-size: 16px;
      line-height: 1.4em;

      p {
        margin-bottom: 0.5em;
      }
    }
  }

  &-footer {
    height:45px;
    background-color:$mainColor;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    
    &__logo {
      font-weight: bold;
      color:$textColor;
      margin: 0 1em;
    }
  }

  &-buttons {
    display: flex;
    flex-wrap: nowrap;
    &__item {
      background:transparent;
      border:none;
      color:#eee;
      outline: none;
      font-size: 30px;
      cursor: pointer;
      &:hover {
        color:white;
      }

      &--disable{
        color:#aaa;

        &:hover{
          color:#aaa;
        }
      }
    }
  }

  &-progress {
    display: flex;
    overflow: hidden;
    border-radius: 5px;
    width:100%;
    height:10px;
    background-color: #3E6A7C;
    margin:0 10px;
    cursor: pointer;

    &__item{
      background-color: #3E6A7C;
      height:100%;
      width:10%;

      &--active {
        background-color:#CAE7F2;
      }
    }
  }

  &-pager {
    display: flex;
    flex-wrap: nowrap;
    color:$textColor;
    font-size: 12px;
    margin: 0 2em;
  }
}