$headerHeight: 20px;
$editorHeight: 400px;
$commentHeight:200px;
/* 色の定義 */
$mainColor: #444;
$borderColor: #718288;

.sce {
  &-root {
    width:100vw;
  }

  &-main {
    width:100%;
    display: flex;
    justify-content: space-around;

    &__editor, &__preview {
      width:45%;
    }

    &__editor {
      border-radius: 6px;
      overflow: hidden;
      border:1px solid $borderColor;
    }

    &__preview {
      & .sc-header {
        height: $headerHeight;
      }

      & .sc-editor {
        height: $editorHeight;
      }

      & .sc-comment {
        height: $commentHeight;
      }

    }
  }

  &-editor {
    &-header {
      height:$headerHeight;
      background-color: $mainColor;
      color: white;
      padding: 0.4em;
      border-bottom: 1px solid $borderColor;
    }

    &-code {
      &__ace {
        width:100%; 
        height: $editorHeight;
      }
    }

    &-md {
      height: $commentHeight;
      &__input {
        resize:none;
        width:100%;
        height:100%;
        padding: 0.5em;
        box-sizing: border-box;
        border:none;
        border-top:1px solid $borderColor;
        font-size: 16px;
      }
    }

    &-footer {
      background-color:$mainColor;
      height:45px;
      color:white;
      font-weight: bold;
      line-height: 45px;
      text-align: right;
      padding-right: 20px;
    }
  }

  &-menu {
    padding:1em;
    text-align: right;

    button {
      padding:1em;
      margin:1em;
      font-size: 14px;
    }
  }

  &-guide {
    border:1px solid $borderColor;
    height:60px;
    display: flex;
    align-items: center;

    &__item {
      width:60px;
      height:40px;
      margin-left: 1em;
      text-align: center;
      line-height: 40px;
      background-color:#eee;
      overflow: hidden;
      border-radius: 3px;

      &--selected {
        background:#abcdef;
        border:1px solid #00A3C7;
        box-shadow: 0 0 2px 1px #00A3C7;
      }
      &--inserted {
        animation-name: sce-zoom;
        animation-duration: 0.5s;
      }
    }
  }
}

@keyframes sce-zoom {
  0% {
    width:0;
    text-indent: -200px;
  }

  100% {
    width:60px;
    text-indent: 0;
  }
}